.container {
  align-items: center;
}

/* .canvas {
  border: 1px solid black;
  width: 805px;
  height: 605px;
} */

canvas {
  background-color: #444;
}
/* .controllers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
} */

i {
  color: purple;
  cursor: pointer;
  margin-right: 15px;
}

.gen-stamp {
  margin-left: 10px;
}

.rules {
  margin-top: 30px;
}