.container {
  align-items: center;
}

canvas {
  background-color: #444;
}
.controllers {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  margin-top: 20px;
}

i {
  color: #007bff;
  cursor: pointer;
  margin-right: 15px;
}

.gen-stamp {
  margin-left: 10px;
}

.rules {
  margin-top: 30px;
}

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

button:focus {outline:0;}